@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-background:oklch(.141 .005 285.823);
  --color-surface-1:oklch(.21 .006 285.885);
  --color-surface-2:oklch(.274 .006 286.033);
  --color-border:oklch(.371 0 0);

  /* Text colors */
  --color-text-primary:oklch(.922 0 0);
  --color-text-secondary:oklch(.705 .015 286.067);
  --color-muted:oklch(.556 0 0);

  --color-primary: oklch(.666 .179 58.318);

  /* Status colors */
  --color-success:oklch(.768 .233 130.85);
  --color-warning: oklch(.795 .184 86.047); 
  --color-error: oklch(.637 .237 25.331);
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}
